<div>
  <img src="LoginLogoBlack.png" alt="Real logo" class="Logo">
  <form class="form">
    <div class="input-container">
      <div class="input-with-icon" id="name">
        <input type="text" class="input" placeholder="Имя пользователя" id="name-inp" />
      </div>
    </div>
    <div class="input-container">
      <div class="input-with-icon" id="pswd">
        <input required type="password" class="input" placeholder="Пароль" id="pass-inp" />
      </div>
    </div>

    <div class="buttons">
      <button class="button" id="submit">Подтвердить</button>
      <button class="pseudobutton" id="forgotpass">Забыли пароль?</button>
    </div>
  </form>

</div>
